{% extends 'autoservice/base.html' %}
{% load i18n crispy_forms_tags %}
{% block content %}
<h1>{% trans 'Car remont registration' %}</h1>
<br>
<div class="content-section">
    <form method="post" action="">
        <fieldset class="form-group">
            {% csrf_token %}
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button type="submit" class="btn btn-secondary">{% trans 'Confirm' %}</button>
        </div>
    </form>
</div>
{% endblock content %}
