{% extends 'autoservice/base.html' %}
{% load i18n %}

{% block content %}
<section>
    <br>
    <ul class="list-group">
        <li class="list-group-item">{% trans 'Total Services' %}: {{ num_services }}</li>
        <li class="list-group-item">{% trans 'Total Orders' %}: {{ num_remont_orders }}</li>
        <li class="list-group-item">{% trans 'Total Cars' %}: {{ num_cars }}</li>
        <li class="list-group-item">{% trans 'Number of Your Visits' %}: {{ num_visits }}</li>

    </ul>
</section>

{% endblock content %}
