{% extends 'autoservice/base.html' %}
{% load i18n static crispy_forms_tags %}
{% block content %}
    <h1>{% trans 'Order detail' %}</h1>
    {% if order.car %}
    <br>
    <h4>{% trans 'Car under repair' %}: <strong>{{ order.car }} @ {{ order.car.plate_no }}</strong></h4>
    <h5>{% trans 'Car owner' %}: <strong>{{ order.car.client.user.username }}</strong></h5>
    <br/>
    <h4>{% trans 'Car repair services' %}</h4>
        <div class="container">  
            <table class="table table-hover">
                <thead class="thead-dark">
                    <th scope="col">{% trans 'Service' %}</th>
                    <th scope="col">{% trans 'Quantity' %}</th>
                    <th scope="col">{% trans 'Price' %}</th>
                </thead>               
                <tbody>
                    {% for line in order.order_no.all %}
                    <tr>
                        <th scope="row">{{ line.service }}</th>
                        <td>{{ line.quantity }}</td>
                        <td>{{ line.repair_price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>   
            </table>
            <h4 align="right">{% trans 'Repair total price' %}: <strong>{{ order.sum }}</strong></h4>
        </div>
    {% else %}
    <p>{% trans 'Car does not have any services.' %}</p>
    {% endif %}
    <br>
    <hr>
    <h3>{% trans 'Comments...' %}</h3>
        {% if not order.comments.all %}
            <p>{% trans 'No comments yet...' %} <a href="{% url 'autoservice:add-comment' order.id %}">{% trans 'Add One' %}</a></p>
        {% else %}
            <a href="{% url 'autoservice:add-comment' order.id %}">{% trans 'Add Comment' %}</a>
            <br><br>
            {% for comment in order.comments.all %}
                <p><strong>{{ comment.name.user }} - {{ comment.created_at }}</strong></p> 
                <p>{{ comment.text|safe }}</p>

            {% endfor %}     
        {% endif %}

{% endblock content %}
